.hero_area {
    background-color: #e0f7fa;
    padding: 40px 20px;
}

.hero_area {
    height: 98vh;
    position: relative;
}

.hero_area {
    height: auto;
}

.header_section {
    background-color: #f6f8f7;
    padding-top: 15px;
}

.header_section {
    padding-right: 25px;
    padding-left: 25px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.navbar_brand span {
    font-size: 20px;
    font-weight: 700;
    color: #191919;
    margin-top: 5px;
}

.navbar_brand img {
    width: 30px;
    margin-right: 5px;
}

.nav_link {
    padding: 10px 30px;
    text-align: center;
    background-color: #edb17d;
    border-radius: 5px;
    flex-grow: 1;
    transition: all 300ms;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:link,
.nav_link:hover{
    color: black;
    text-decoration: none;
}

.nav_link:hover {
    transform: scale(1.1, 1.1);
}

.container_fluid {
    padding-right: 25px;
    padding-left: 25px;
}